SELECT eq.id as question_id, eq.question, eq.type, ea.id as answer_id, ea.answer as student_answer, ea.pointsEarned, u.name as student_name FROM exam_questions eq LEFT JOIN exam_answers ea ON eq.id = ea.questionId LEFT JOIN exam_attempts att ON ea.attemptId = att.id LEFT JOIN users u ON att.userId = u.id WHERE eq.type = 'RECORDING' ORDER BY att.submittedAt DESC;
